jgea.jar
.DS_Store
todo.md
.venv
execution_time_analysis.ipynb
results/rl-navigation.txt/2026-04-21--10-38-07
results/boolean-tasks/xor/xor.txt/[2]/2026-03-19--12-34-34
results/boolean-tasks/xor/xor.txt/[2]/2026-03-26--11-07-28
results/boolean-tasks/xor/xor.txt/[2;2]/2026-03-26--12-20-35
results/boolean-tasks/xor/xor.txt/[8]/2026-03-26--13-48-38
results/rl-navigation.txt